@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .homeTitle {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
  }
  .notFoundScreen {
    width: 100vw;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notFoundImg {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .errorScreen {
    width: 100vw;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modeToggleBtn {
    padding: 5px 6px;
    background-color: #e8ac07;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  @media (max-width: 768px) {
    .homeTitle {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    .notFoundImg {
      width: 80vw;
    }
  }
}
